/* Definição geral do site */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
  }

h1 {
    color: red;
}

/* Barra de navegação horizontal */
nav {
    background-color: #222;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a{
    font-size: 14pt;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

nav .menu {
    display: flex;
    gap: 20px;
}

nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    padding: 10px 15px;
}

nav .menu a:hover {
    background-color: red;
}

nav .login-form {
    display: flex;
    gap: 10px;
}

nav .login-form input {
    padding: 5px;
    font-size: 12pt;
}

nav .login-form button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

nav .login-form button:hover {
    background-color: darkred;
}

nav .user-info {
    color: white;
    display: flex;
    gap: 10px;
}

nav .user-info button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

nav .user-info button:hover {
    background-color: darkred;
}

/* Configurações da galeria de imagens */
.image-gallery {
    display: grid; /* Usando grid layout */
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px; /* Espaçamento entre as imagens */
    padding: 20px 0;
}

.image-item {
    width: 100%; /* As imagens ocupam toda a coluna */
    height: 320px; /* Definindo altura fixa */
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem dentro da caixa */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.image-item:hover img {
    transform: scale(1.05); /* Aumenta ligeiramente a imagem no hover */
    transition: 0.3s ease; /* Transição suave */
}

/* Carousel styles */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 500px;
    gap: 10px;
  }

h1 {
    color: red;
}

/* Barra de navegação horizontal */
nav {
    background-color: #222;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a{
    font-size: 14pt;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

nav .menu {
    display: flex;
    gap: 20px;
}

nav .menu a {
    color: white;
    text-decoration: none;
    font-size: 14pt;
    padding: 10px 15px;
}

nav .menu a:hover {
    background-color: red;
}

nav .login-form {
    display: flex;
    gap: 10px;
}

nav .login-form input {
    padding: 5px;
    font-size: 12pt;
}

nav .login-form button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

nav .login-form button:hover {
    background-color: darkred;
}

nav .user-info {
    color: white;
    display: flex;
    gap: 10px;
}

nav .user-info button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

nav .user-info button:hover {
    background-color: darkred;
}

/* Configurações da galeria de imagens */
.image-gallery {
    display: grid; /* Usando grid layout */
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    gap: 20px; /* Espaçamento entre as imagens */
    padding: 20px 0;
}

.image-item {
    width: 100%; /* As imagens ocupam toda a coluna */
    height: 320px; /* Definindo altura fixa */
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem dentro da caixa */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

.image-item:hover img {
    transform: scale(1.05); /* Aumenta ligeiramente a imagem no hover */
    transition: 0.3s ease; /* Transição suave */
}

/* Carousel styles */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.carousel-container .container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.movie-card {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-right: 10px;

    .content {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 15px;
        opacity: 0;
        flex-direction: column;
        height: 100%;
        justify-content: flex-end;
        background: rgb(2, 2, 46);
        background: linear-gradient(
            0deg,
            rgba(2, 2, 46, 0.6755077030812324) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        transform: translatey(100%);
        transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
        visibility: hidden;

        span {
            display: block;
            margin-top: 5px;
            font-size: 1.2rem;
        }
    }
}

.movie-card:hover {
    flex: 0 0 350px;
    box-shadow: 1px 3px 15px #7645d8;
    transform: translatey(-30px);
}

.movie-card:hover .content {
    opacity: 1;
    transform: translatey(0%);
    visibility: visible;
}

.genre_selection a {
    color: red;
    text-decoration: none;
}

.genre_selection a:hover {
    color: white;
    text-decoration: underline;
}

